/**
 * Tailwind CSS imports
 * View the full documentation at https://tailwindcss.com
 */
@tailwind base;
@tailwind components;
@tailwind utilities;


/**
 * WHAT IS THIS FILE?
 *
 * Globally applied styles. No matter which components are in the page or matching route,
 * the styles in here will be applied to the Document, without any sort of CSS scoping.
 *
 */
html {
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  font-family:
    ui-sans-serif,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial,
    "Noto Sans",
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Noto Color Emoji";
}

body {
  padding: 0;
  line-height: inherit;
}

.backlight {
  /*box-shadow: rgba(0, 197, 255, 0.24) 0px 1px 1px 0px inset, rgba(23, 184, 203, 0.25) 0px 50px 100px -20px, rgba(0, 196, 255, 0.3) 0px 30px 60px -30px;*/
  box-shadow: rgba(76, 210, 21, 0.24) 0px 1px 1px 0px inset, rgba(51, 225, 21, 0.25) 0px 20px 120px -20px, rgba(0, 255, 73, 0.38) 0px 30px 60px -20px;

}